{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "local>stackabletech/.github:renovate-config"
  ],
  "ignorePaths": {[ workflow_files.files | map(attribute='path') | map('replace', '.j2', '') | map('replace', base_dir+'/template/', '') | sort() | to_json }]
}
