{
  "extends": [
    "helpers:pinGitHubActionDigests"
  ],
  "labels": [
    "dependencies"
  ],
  "prCreation": "not-pending",
  "reviewers": [
    "team:developers"
  ],
  "rollbackPrs": true,
  "timezone": "Europe/Berlin",
  "packageRules": [
    {
      "matchUpdateTypes": [
        "patch"
      ],
      "groupName": "All dependencies (patch only)"
    }
  ],
  "lockFileMaintenance": {
    "enabled": true
  },
  "ignorePaths": {[ workflow_files.files | map(attribute='path') | map('replace', '.j2', '') | map('replace', base_dir+'/template/', '') | sort() | to_json }]
}
