---
apiVersion: v2
name: {[ operator.name }]
version: "<version_placeholder>"
appVersion: "<version_placeholder>"
description: "{[ operator.chart_description }]"

home: https://github.com/stackabletech/{[ operator.name }]
# One known use of this is the Artifact Hub (AH) listing which shows the logo.
# AH downloads the logo and re-hosts it.
# We opted to not use the project logos (e.g. the Apache Spark logo) here due to trademark concerns.
icon: https://raw.githubusercontent.com/stackabletech/{[ operator.name }]/main/.readme/static/borrowed/Icon_Stackable.svg
sources:
  - https://github.com/stackabletech/{[ operator.name }]

keywords: {[ operator.keywords | tojson }]

# Artifact Hub drops any maintainer entry that has no email.
maintainers:
  - name: Stackable GmbH
    email: info@stackable.tech
    url: https://www.stackable.tech

# Consumed by Artifact Hub, see https://artifacthub.io/docs/topics/annotations/helm/
annotations:
  # The chart package ships no LICENSE file, so Artifact Hub cannot detect this itself.
  artifacthub.io/license: OSL-3.0
  # Artifact Hub currently infers this from "operator" in the chart name but I don't want to rely on the heuristics.
  artifacthub.io/operator: "true"
  # Unset means Artifact Hub predicts a category from the keywords, which it gets wrong a lot for our stuff
  artifacthub.io/category: {[ operator.artifacthub_category }]
{[% if operator.artifacthub_alternative_name is defined %}]
  artifacthub.io/alternativeName: {[ operator.artifacthub_alternative_name }]
{[% endif %}]
  # A link named "support" is rendered highlighted by Artifact Hub. Keep it lowercase.
  artifacthub.io/links: |
    - name: Documentation
      url: https://docs.stackable.tech/home/stable/{[ operator.product_string }]/
{[% if operator.config.has_product | default(true) %}]
    - name: Stackable Hub
      url: https://hub.stackable.tech/components/{[ operator.hub_component_slug | default(operator.product_string) }]
{[% endif %}]
    - name: support
      url: https://github.com/stackabletech/{[ operator.name }]/issues
    - name: Operator image on quay.io
      url: https://quay.io/repository/stackable/sdp/{[ operator.name }]
