---
apiVersion: v2
name: {[ operator.name }]
version: "<version_placeholder>"
appVersion: "<version_placeholder>"
description: "{[ operator.chart_description }]"

home: https://github.com/stackabletech/{[ operator.name }]
sources:
  - https://github.com/stackabletech/{[ operator.name }]

keywords: {[ operator.keywords | tojson }]

maintainers:
  - name: Stackable
    url: https://www.stackable.tech

# Consumed by Artifact Hub, see https://artifacthub.io/docs/topics/annotations/helm/
annotations:
  # The chart package ships no LICENSE file, so Artifact Hub cannot detect this itself.
  artifacthub.io/license: OSL-3.0
  # A link named "support" is rendered highlighted by Artifact Hub. Keep it lowercase.
  artifacthub.io/links: |
    - name: Documentation
      url: https://docs.stackable.tech/home/stable/{[ operator.product_string }]/
    - name: support
      url: https://github.com/stackabletech/{[ operator.name }]/issues
