---
apiVersion: v2
name: {[ operator.name }]
version: <version_placeholder>
appVersion: "<version_placeholder>"
description: The Stackable Operator for {[ operator.pretty_string }]

home: https://github.com/stackabletech/{[ operator.name }]

maintainers:
  - name: Stackable
    url: https://www.stackable.tech
