[Unit]
Description=Stackable Operator for [[ operator.pretty_string ]]
Before=
After=network.target
[Service]
User=root
ExecStart=/opt/stackable/[[ operator.product_string ]]-operator/stackable-[[ operator.product_string ]]-operator
Restart=on-abort
StandardOutput=journal
StandardError=journal
Environment="[[ operator.product_string | upper ]]_OPERATOR_LOG=info"
[Install]
WantedBy=multi-user.target
