= Installation

There are 2 ways to run the {[ operator.pretty_string }] Operator:

1. Using xref:stackablectl::index.adoc[]

1. Using Helm

== stackablectl

stackablectl is the command line tool to interact with Stackable operators and our recommended way to install Operators.
Follow the xref:stackablectl::installation.adoc[installation steps] for your platform.

After the installation run to install the {[ operator.pretty_string }] Operator:

[source,bash]
----
stackablectl operator install {[ operator.product_string }]
----

The tool will show

----
[INFO ] Installing {[ operator.product_string }] operator
----

Consult the xref:stackablectl::quickstart.adoc[] to learn more about how to use stackablectl.

== Helm

You can also use Helm to install the Operator. Add the Stackable Helm repository:
[source,bash]
----
$ helm repo add stackable https://repo.stackable.tech/repository/helm-stable/
----

Then install the Stackable Operator for {[ operator.pretty_string }]
[source,bash]
----
$ helm install druid-operator stackable/{[ operator.name }]
----

Helm will deploy the operator in a Kubernetes container and apply the CRDs for the {[ operator.pretty_string }] service. You are now ready to deploy {[ operator.pretty_string }] in Kubernetes.
