---
name: pre-commit

on:
  pull_request:

env:
  HADOLINT_VERSION: "v2.14.0"
  PYTHON_VERSION: "3.14"

permissions: {}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: stackabletech/actions/run-pre-commit@29bea1b451c0c2e994bd495969286f95bf49ed6a # v0.11.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          hadolint: ${{ env.HADOLINT_VERSION }}
