---
name: pre-commit

on:
  pull_request:

env:
  HADOLINT_VERSION: "v2.14.0"
  PYTHON_VERSION: "3.14"

permissions: {}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: stackabletech/actions/run-pre-commit@c34dbb4f27b274736c7d2edc6f6f30a03d03edf5 # v0.12.2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          hadolint: ${{ env.HADOLINT_VERSION }}
